<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/nav.css">
    
<body>
    <nav>
    <a href="../Index.html">Home</a>
    <a href="./About.html">About Me</a>
    </nav>

    <section>
        <div class="h">
        <h1> About Me</h1>
            <p>My Name is Aisha Salihu Abdul. I am a graduate of Chemical Engineering currently running my MSc. Programme. I am currently learning web design.</p> 
            <h2>Hobbies</h2>
            <!-- Using a paragraph to list items-->
            <p> My hobbies include: <br> Reading <br> Sleeping <br> Learning something new </p>
        </div>

        <div class="sub">
        <h2> Schools Attended</h2>
        <!-- Using a unlisted tag to list items-->
        <ul>
            <li> ATBU Staff Primary School </li>
            <li> International Secondary School (ATBU) </li>
            <li> Abubakar Tafawa Balewa University (ATBU) Bauchi </li>
            <li> Abubakar Tafawa Balewa University (ATBU) Bauchi</li>
        </ul>
    </div>
        <div class="cont">
        <h2>Qualifications obtained</h2>
            <ul>
                <li> Primary Cerificate </li>
                <li> Secondary Cerificate </li>
                <li> IJMB A-Level </li>
                <li> B.Eng. Chemical Engineering </li>
            </ul> 
        </div>
    </section>

    <h2>Book Read</h2>
    <!-- Using the ordered list -->
    <ol>
    <li>The Potter's Wheel By Chukwuemeka Ike</li>
    <li> Being Bilal's Wife by Hadiza M Idris</li>
    <li>Storm and Silence by Rob Thier</li>
    <li>Hercule Poirot Series by Agatha Christie</li>
    </ol>
    <a target="_blank" href="mailto:aishasalihuabdul@gmail.com">Contact Me</a>
    <footer>
        <center>&copy; Aisha Abdul Salihu 2024</center>
    </footer>
</body>
</html>